.App {
  background-color: #ccccd6;
  min-height: 100vh;
}

.toggle {
  width: fit-content;
  padding: 14px;
  cursor: pointer;
  position: fixed;
  text-transform: uppercase;
  font-weight: 500;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-group {
  margin-top: 54px;
}

.secret-button {
  cursor: auto !important;
}

.form {
  margin-top: 24px;
  width: 100%;
}

.form .zhui-input-wrapper {
  display: flex;
  justify-content: center;
}

.form input {
  max-width: 444px;
}

.secret {
  display: flex !important;
  justify-content: center;
  height: auto !important;
  margin: 10px;
}

.secret textarea {
  height: 144px !important;
  font-size: 14px;
  max-width: 444px;
}

.encrypt-button,
.copy-button {
  margin: 20px !important;
}

.encrypted {
  box-sizing: border-box;
  width: 90%;
  padding: 8px 10px;
  transition: all 0.1s linear;
  background: #fff;

  height: 144px;
  font-size: 14px;
  max-width: 444px;
}

.encrypted {
  border: 3px solid #c45a65;
}

.decrypted {
  width: 90% !important;
  display: flex !important;
  justify-content: center;
}

.decrypted textarea {
  height: 144px !important;
  font-size: 14px;
  max-width: 444px;
  border: 4px solid #2376b7 !important;
}

.alert {
  position: fixed !important;
  margin: 10px 10px auto 88%;
  z-index: 1;
  font-size: 14px !important;
}

.letter {
  display: flex !important;
  justify-content: center;
  height: auto !important;
  margin-top: 74px;
}

.letter textarea {
  height: 144px !important;
  font-size: 14px;
  max-width: 444px;
}

.decrypt-button {
  margin: 40px !important;
}

.decrypted textarea {
  cursor: default !important;
}
