.App {
  background-color: #ccccd6;
  min-height: 100vh;
}

.toggle {
  width: fit-content;
  padding: 14px;
  cursor: pointer;
  position: fixed;
  text-transform: uppercase;
  font-weight: 500;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-group {
  margin-top: 54px;
}

.secret-button {
  cursor: auto !important;
}

.form {
  margin-top: 24px;
  width: 100%;
}

.form .zhui-input-wrapper {
  display: flex;
  justify-content: center;
}

.form input {
  max-width: 444px;
}

.secret {
  display: flex !important;
  justify-content: center;
  height: auto !important;
  margin: 10px;
}

.secret textarea {
  height: 144px !important;
  font-size: 14px;
  max-width: 444px;
}

.encrypt-button {
  margin: 20px !important;
}
